@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  font-size: calc(1rem + 0.5vw);

  --primary: #f7304d;
  --primary-2: #fb98a7;
  --primary-3: #fef0f2;
  --secondary: #f8da30;
  --secondary-3: #fefcf1;
  --tretiary: #5cb5e6;
  --quarternary: #e6ba5c;
  --bg-dark: #1c1c1e;
  --bg-dark-blueish: #242731;
  --bg-light: #343638;
  --text-dark: #a9a8ad;
  --text-light: #f4f4f4;
  --border: #3b3b3b;
  --green: rgb(0, 255, 163);
  --pink: rgba(225, 187, 255, 1);
  --border-pink: rgba(225, 187, 255, 0.24);
  --default-heading: 34px;
  --default-subheading: 18px;
  --default-reg: 15px;
  --default-details: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  font-family: -apple-system, "Inter", BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overscroll-behavior-y: none;
  overflow: hidden;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
p {
  color: var(--text-light);
}
h1 {
  font-size: var(--default-heading);
  font-weight: 600;
}
h2 {
  font-size: var(--default-subheading);
  font-weight: 500;
}
h3 {
  font-size: var(--default-reg);
  font-weight: 500px;
}

.disabled {
  cursor: not-allowed !important;
}

.details {
  font-size: var(--default-details);
  color: var(--text-dark);
}

.container {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-wrap: nowrap;
  background: var(--bg-dark);
}

.menu {
  width: 260px;
  background: var(--bg-light);
  padding: 1rem;
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .menu {
    position: absolute;
    left: -300px;
  }
}

.menu > * > * + * {
  margin-top: 24px;
}

.menu input {
  background: var(--bg-dark);
  padding: 8px 6px;
  font-size: 14px;
  color: var(--text-dark);
  width: 100%;
  max-width: 100%;
  outline: 0;
  -webkit-appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 6px;
  transition: 200ms;
}

input:focus {
  box-shadow: 0 0 0 4px var(--primary);
}
input:focus::placeholder {
  opacity: 0;
}

nav {
  max-width: 100%;
}

.nav-item {
  display: flex;
  flex-direction: row;
  min-height: 30px;
  align-items: center;
  padding: 5px;
  transition: 300ms;
  border-radius: 5px;
}

.nav-item[data-isclicked="true"] {
  background: rgba(0, 0, 0, 0.2);
}

.nav-item + .nav-item {
  margin-top: 7px;
}

.nav-icon {
  margin-right: 10px;
}

.nav-item > a,
p {
  color: var(--text-light);
  font-size: 15px;
}

.nav-icon {
  height: 12px;
  width: 12px;
  background: var(--primary);
  border-radius: 2px;
}

.loader {
  width: 36px;
  height: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 4px;
}

.loader > div {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: var(--primary);
  opacity: 0.6;
}

.ball1 {
  animation: loader 1s ease-in-out infinite;
}

.ball2 {
  animation: loader 1s ease-in-out infinite;
  animation-delay: 0.2s;
}

.ball3 {
  animation: loader 1s ease-in-out infinite;
  animation-delay: 0.4s;
}

.secondary {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--text-dark);
}

.feedback {
  justify-content: center;
}
.git-icon-container {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  display: none;
}

.git-icon {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid var(--text-dark);
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .git-icon-container {
    display: block;
  }
}

.action-icon {
  width: 9px;
  height: 9px;
  fill: var(--text-dark);
  flex-shrink: 0;
  position: relative;
  top: 1px;
  -webkit-margin-start: 4px;
  margin-inline-start: 4px;
  z-index: 1;
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--border);
}

.spacer {
  flex: 1;
  /* background: redl;*/
  min-height: 1px;
}

.content-container {
  max-width: 100vw;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.content-container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .content {
    padding-bottom: 1.5rem;
  }
}

.filter-container {
  padding: 0.5rem;
  background: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1064px) {
  .filter-container {
    padding-top: 1rem;
  }
}

.filter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter p {
  position: relative;
  padding: 0.3rem 0.8rem;
}

.filter p + p {
  margin-left: 30px;
}
.filter #marker {
  position: absolute;
  height: 100%;
  width: 0;
  border-radius: 5px;
  background: var(--primary);
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

.content {
  background: var(--bg-dark);
  flex: 1px;
  position: relative;
  overflow-y: scroll;
}

.content::-webkit-scrollbar {
  display: none;
}

.issues-content {
  background: var(--bg-dark);
  min-width: 100%;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 2rem;
  grid-column-gap: 0.8rem;
}
@media screen and (max-width: 1680px) {
  .issues-content {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (max-width: 1500px) {
  .issues-content {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 1285px) {
  .issues-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .issues-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 414px) {
  .issues-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

.pinned-container {
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 1rem 1.5rem 0 1.5rem;
}
.pinned-container > * + * {
  margin-left: 1rem;
}
.pinned-issue {
  position: relative;
  max-width: 350px;
  min-width: 250px;
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  background: var(--primary);
}

.pinned-issue > p {
  max-width: 100%;
  font-size: var(--default-subheading);
  color: var(--text-light);
  font-weight: 600;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.pinned-issue > *:nth-child(3) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pinned-issue .comments {
  position: static !important;
}

.pinned-issue > * + * {
  margin-top: 0.2rem;
}

.pinned-container::-webkit-scrollbar {
  display: none;
}

.issue.loading {
  animation: Blink 1s ease-in-out alternate infinite;
}

.issue-box {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  min-height: 270px;
  background: var(--bg-dark-blueish);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0.5rem 0.7rem;
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 414px) {
  .issue-box {
    min-height: 210px;
  }
}

.issue-box > p {
  max-width: 100%;
  font-weight: 600;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-top: 0.4rem;
  margin-bottom: 0.3rem;
}

@media screen and (max-width: 414px) {
  .issue-box > p {
    margin-top: 0.7rem;
    margin-bottom: 1rem;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  font-size: 11px;
  padding: 0.1rem 0.5rem;
  border-radius: 10px;
  margin-right: 8px;
  margin-bottom: 8px;
  border: 1px solid var(--border-pink);
}

.tag.docs {
  color: var(--pink);
  background: rgba(225, 187, 255, 0.24);
}
.tag.help {
  color: var(--green);
  background: rgba(0, 255, 163, 0.24);
}
.tag.legacy {
  color: #f2f2f2;
  background: rgba(240, 221, 255, 0.3);
}

.comments {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0.5rem;
  right: 0.7rem;
}
.comments .comments-counter p {
  color: var(--text-dark);
  font-size: var(--default-reg);
  margin-left: 0.3rem;
}

.issue-details p {
  color: var(--text-dark);
  font-size: var(--default-details);
}

.issue.loading .issue-details {
  background: var(--bg-light);
  width: 150px;
  min-height: 12px;
  border-radius: 2px;
}

.load-more-btn-container {
  display: flex;
  justify-content: center;
}

.load-more-btn {
  background: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.discussion {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  transform: translateX(100%);
  background: var(--bg-dark);
  transition: 0.5s ease-in-out;
}

.discussion[data-isopen="true"] {
  transform: translateX(0%);
  z-index: 100;
}

.discussion[data-isopen="true"] .discussion-container {
  animation: fade-in-without-sliding 0.5s linear both 0.5s;
}

.discussion nav {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.3rem 1.5rem;
  display: flex;
  align-items: center;
  transition: 0.3s linear;
}

.discussion nav:hover {
  background: var(--bg-light);
}
@media screen and (max-width: 1064px) {
  .discussion nav {
    padding-top: 0.7rem;
  }
}

.discussion nav span {
  font-size: var(--default-details);
  font-weight: 500;
  color: var(--text-light);
  padding: 4px 14px;
  margin-right: 0.5rem;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25);
  border-radius: 6px;
  cursor: pointer;
}

.discussion-container {
  margin-top: 5rem;
  padding: 5rem 2rem 0.5r.5r.5r.5r.5rem 2rem;
  max-width: 1064px;
  margin-left: auto;
  margin-right: auto;
}

.discussion-container > h1 {
  margin-bottom: 24px;
}

.discussion-container p {
  font-size: var(--default-subheading);
  color: var(--text-dark);
  margin-bottom: 16px;
}

.discussion-container > *:nth-child(3) {
  color: var(--primary);
  margin-bottom: 5rem;
}
.discussion-container > *:nth-child(3) > * + * {
  margin-left: 0.5rem;
}
.discussion footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  margin-top: 5rem;
}

.issue-id {
  color: var(--text-dark);
  font-weight: 400;
}

.comment {
  padding-top: 3rem;
}
.comment + .comment {
  border-top: 1px solid var(--border);
}

.comment-details {
  display: flex;
  align-items: center;
}

.comment-details p {
  margin-bottom: 0;
}

.comment-body {
  background: var(--bg-light);
  border-radius: 10px;
  margin-left: 96px;
  margin-bottom: 1.5rem;
  padding: 1rem 1.5rem;
}

.comment-body p {
  font-size: var(--default-reg);
  color: var(--text-light);
  line-height: 160%;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .comment-body {
    margin-top: 1rem;
    margin-left: 0;
  }
}

.avatar-container {
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;
  margin-right: 32px;
  border-radius: 100%;
  border: 3px solid var(--primary);
  background: var(--bg-light);
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 3rem;
}

@media screen and (max-width: 768px) {
  .dashboard {
    padding: 0;
  }
}

.dashboard-menu {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
  .dashboard-menu {
    padding: 1rem;
  }
}

.dashboard-menu h1 {
  color: var(--text-dark);
  font-weight: 500;
}

.user-info-button {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.user-info-button.open {
  background: var(--primary);
}

#notifications-button + #profile-button {
  margin-left: 0.7rem;
}

@media screen and (min-width: 1440px) {
  #profile-button {
    display: none;
  }
}

.notification-indicator {
  position: absolute;
  right: -4px;
  top: -4px;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background: var(--primary);
  transition: 0.3s ease-in-out;
}

.notification-indicator.hidden {
  opacity: 0;
}

.tray {
  cursor: default;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 2.3rem;
  right: 0;
  padding: 0.2rem;
  border-radius: 15px;
  background: rgba(128, 128, 128, 0.3);
  backdrop-filter: blur(40px);
  overflow: hidden;
  z-index: 10000;
}
.tray.closed {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .tray {
    position: fixed !important;
    opacity: 1;
    top: 0 !important;
    left: 0 !important;
    width: 100vw;
    min-height: 120vh;
    border-radius: 40px;
    transform: translateY(0%);
  }
  .tray.closed {
    transition: 0.4s ease-in-out;
    transform: translateY(100%);
    opacity: 1;
    visibility: visible;
  }
}

.grow {
  flex: 1;
}

.goals-digest-container {
  display: flex;
  flex-wrap: wrap;
}
.goals-digest-container h2 {
  font-weight: 600;
}

.goals-digest-container > * {
  background: var(--bg-dark-blueish);
  border-radius: 24px;
  padding: 1.3rem 8px;
  min-width: 200px;
}

.goals-digest-container > * + * {
  margin-left: 1rem;
}

@media screen and (max-width: 1440px) {
  .goals-digest-container {
    flex-direction: column;
  }
  .goals-digest-container > * {
    flex: 1;
  }
  .goals-digest-container > * + * {
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

.goals-digest-container > * > h2:first-child {
  padding: 0 1rem;
}

.goals-block > div:nth-child(2) {
  margin-top: 24px !important;
}

.goal-row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 8px;
  border-radius: 16px;
  padding: 0.5rem 0.5rem;
  transition: background 0.3s ease-in-out;
}

.goal-row.active {
  background: rgba(0, 0, 0, 0.5) !important;
}

.goal-row:hover {
  background: rgba(255, 255, 255, 0.05);
}

.goal-row > div:first-child {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background: var(--primary);
  margin-right: 16px;
}

.goal-row > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2rem;
}

.goal-row > div:nth-child(2) > * + * {
  margin-top: 8px;
}

.goal-row > div:nth-child(4) {
  position: relative;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goal-row > div:nth-child(4) p {
  font-size: calc(var(--default-details) + 1px);
  color: var(--text-light);
  font-weight: 600;
  margin-left: 3px;
}

.goal-row > div:nth-child(4) > *:first-child {
  position: absolute;
  top: 0;
  left: 0;
}

.goals-block .view-more {
  width: 80%;
  margin-bottom: 0;
  transform: translateX(50%);
  margin-left: -30%;
}

.tasks-block {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 650px;
  overflow-x: hidden;
}

.tasks-block > div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
  margin-top: 24px;
}

.tasks-block > div:nth-child(2) > * {
}

@media screen and (max-width: 1064px) {
  .tasks-block > div:nth-child(2) > * {
    width: 100%;
  }
}

.goal-description {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}
.goal-description .spacer {
  display: none;
}
@media screen and (max-width: 1064px) {
  .goal-description {
    flex-direction: row;
  }

  .goal-description .spacer {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .goal-description {
    align-items: center;
    justify-content: center;
  }
}

.goal-description h2 {
  color: var(--text-dark);
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}
.goal-description h1 {
  margin-bottom: 0.7rem;
}
.goal-description > .two {
  align-items: center;
}
.is-on-track {
  margin-right: 0.5rem;
  text-align: center;
  padding: 0.3rem 1rem;
  border-radius: 50px;
  margin-bottom: 1rem;
  max-width: 135px;
}
.is-on-track.on-track {
  background: green;
}
.goal-description .body-text {
  max-width: 200px;
  overflow: hidden;
}
.body-text {
  max-width: 250px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .goal-description .spacer,
  .body-text {
    display: none;
  }
}

.body-text p {
  color: var(--text-dark);
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1064px) {
  .goal-description {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.goal-gantt-chart-container {
  position: relative;
  min-height: 350px !important;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  border: 1px solid var(--border);
  overflow-x: scroll;
}

.goal-gantt-chart-container::-webkit-scrollbar {
  display: none;
}

.goal-gantt-chart-container > * {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  min-width: 600px;
}

.labels-row {
  text-align: center;
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.5rem;
}

.labels-row div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.labels-row p:hover {
  background: rgba(255, 255, 255, 0.05);
}

.labels-row p {
  padding: 0.2rem 0.3rem;
  font-weight: 500;
  width: 80%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.labels-row .active p {
  border-radius: 5px;
  background: #ff754c;
  color: black;
}

.chart-body {
  display: flex;
  position: relative;
}

.chart-body .filler {
  flex: 1;
}

.chart-body .filler + .filler {
  border-left: 1px solid var(--border);
}

.charts-overimposed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  padding: 1rem 0;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 6 1fr;
  cursor: none;
}

.charts-overimposed > div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: end;
  overflow: hidden;
}

.charts-overimposed > div > div {
  padding: 0.1rem;
  border-radius: 9px;
  background: #cfc8ff;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.charts-overimposed p {
  background: var(--bg-dark-blueish);
  padding: 0.3rem 0.5rem;
  border-radius: 9px;
  font-weight: 500;
  max-width: 10ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cursor {
  position: fixed;
  opacity: 0;
  min-width: 10px !important;
  height: 10px;
  background: #fff;
  pointer-events: none;
  border-radius: 100%;
  transition: opacity 0.3s ease-in-out;
}
.cursor.active {
  opacity: 0.5;
  width: 20px;
  height: 20px;
  transform: scale(1.5);
}
.cursor.pressed {
  opacity: 1 !important;
  transform: scale(1) !important;
}

.git-topology {
  position: relative;
  transform: translateY(0);
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  background: black;
  border-radius: 15px;
  padding: 0 1rem !important;
}
.git-topology .view-more {
  background: rgba(228, 228, 228, 0.1);
  position: sticky;
  border-radius: 5px;
  display: flex;
  width: 160px;
  top: 0.5rem;
  right: -0.5rem;
  margin-top: 0;
  margin-right: -100%;
}

.git-topology .view-more span p {
  font-weight: 600;
  color: var(--text-dark);
}

.lines-container:first-child {
  margin-top: 50px;
}

.lines-container {
  display: flex;
}

.branch {
  width: 3px;
  height: 25px;
  position: relative;
  overflow: visible;
}

.branch svg {
  stroke: red;
}

.branch-main {
  background: red;
  z-index: 1000;
}
.branch-dev {
  background: blue;
}
.branch-dev2 {
  background: green;
}

.branch + .branch {
  margin-left: 25px;
}

.commit-node {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: inherit;
  top: 0;
  left: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.commit-node::after {
  content: "";
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 100%;
}

@keyframes tray-appear {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(var(--tray-offset));
  }
}
@keyframes tray-disappear {
  0% {
    transform: translateY(var(--tray-offset));
  }
  100% {
    transform: translateY(100%);
  }
}

.tray h2 {
  padding: 1rem 0;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .tray h2 {
    padding: 1.5rem 0 2rem 0;
  }
}

.notification-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 15px;
  padding: 0.5rem;
  transition: 0.2s ease-in-out;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.05);
}

.notification-item + .notification-item {
  margin-top: 8px;
}

.notification-item:hover {
  background: rgba(255, 255, 255, 0.05);
}

.notification-item-icon {
  position: relative;
  min-width: 48px;
  min-height: 48px;
  border-radius: 100%;
  background: var(--secondary);
  margin-right: 16px;
}

.notification-item-body {
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.notification-item-body > * {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  min-width: 220px;
}

.author .time {
  font-size: var(--default-details);
  color: var(--text-dark);
}
.notification-event-type {
  margin-right: 10px;
}
.notification-event * {
  font-size: var(--default-details);
}

.notification-event a {
  color: var(--tretiary);
}

.view-more {
  border: none;
  width: 60%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 0.8rem;
  color: var(--text-light);
  font-size: var(--default-reg);
  margin: 1rem 0;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .view-more {
    padding: 1rem;
    margin: 2rem 0 2rem 0;
  }
}

.dashboard main {
  flex: 1;
  min-width: 1px;
}

@media screen and (max-width: 768px) {
  .dashboard main {
    padding: 1rem;
  }
}

.user-info-panel {
  display: none;
  min-height: 20px;
  width: 300px;
  background: var(--tretiary);
  margin-left: 1rem;
}

@media screen and (max-width: 1440px) {
  .user-info-panel {
    display: none;
  }
}

.dashboard-overview {
  background: var(--bg-dark-blueish);
  border-radius: 24px;
  padding: 1.3rem 8px;
  margin-bottom: 1rem;
  display: flex;
}
.dashboard-overview > * {
  padding: 0.5rem;
}

.popup-container {
  width: 300px;
  height: auto;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 1000;
}
.popup-container[data-isclicked="true"] {
  display: none;
}
@media screen and (max-width: 1064px) {
  .popup-container {
    display: none;
  }
}

.popup-container .exit-btn {
  animation: fade-in 1s ease-in-out both 200ms;
}

.popup-gradient {
  animation: 1s fade-in forward;
}

.popup-gradient {
  height: 100%;
  display: flex;
  flex: initial;
  flex-direction: row;
  animation: 10s ease-in-out 0s infinite normal both running pulse;
  background: conic-gradient(
    from 217.29deg at 51.63% 52.16%,
    rgb(36, 0, 255) 0deg,
    rgb(0, 135, 255) 19.5deg,
    rgb(255, 29, 122) 102.75deg,
    rgb(245, 56, 27) 152.25deg,
    rgb(255, 83, 53) 208.88deg,
    rgb(105, 30, 255) 291deg
  );
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.popup-gradient-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;

  animation: fade-in-without-sliding 3s ease-in-out both 1s;
}

.popup {
  background: rgba(128, 128, 128, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  animation: fade-in 1s ease-in-out both;
}

.popup > div {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.exit-btn {
  position: absolute;
  top: calc(-40px);
  right: 0.2rem;
}
.exit-btn svg {
  fill: rgba(128, 128, 128, 0.3);
}

.icon-placeholder {
  width: 16px;
  height: 16px;
  background: var(--primary);
  border-radius: 100%;
}

@keyframes loader {
  0% {
    transform: translateY(0%);
  }
  33% {
    transform: translateY(-50%);
  }
  66% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fade-in {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fade-in-without-sliding {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
    display: none;
  }
}
@keyframes Blink {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes pulse {
  from {
    opacity: 0.75;
    filter: blur(20px);
  }
  50% {
    opacity: 1;
    filter: blur(50px);
  }
  to {
    opacity: 0.75;
    filter: blur(20px);
  }
}
